@media (min-width: 1101px) and (max-width: 2000px){
  .all-form {
  text-align: center;

  }

  .column-form  {

    /*border: 1px solid orange;*/
    display: inline-block;
    vertical-align: middle;
    width: 31%;
    margin: 0;
  }


}
