

@media (min-width: 400px) and (max-width: 700px){

  .cbp-mc-form {
  text-align: center;

  }



  .cbp-mc-column {
   display: block;
   margin-left: 5%;
   margin-right: 5%;
   width: 90%;
 }

}
