/* importing the Lato font from google apis/server */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype');
	src:url('../fonts/bpicons/bpicons.woff') format('woff');
	src:url('../fonts/bpicons/bpicons.ttf') format('truetype');
	src:url('../fonts/bpicons/bpicons.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}




* {
  font-family: 'Lato', Calibri, Arial, sans-serif;

}



body {
    background-color: #47a3da;
}

.container{
  text-align: center;
}

/*header*/

header {
  text-align: left;
  border: 1px solid orange;
  color: #FFF;
  width: 90%;
  margin: auto;
}

header span {
  border: 1px solid green;
  margin-top: 10px;
  display: block;
}

header a, header h1 {
  border: 1px solid red;
  display: inline-block;

}

.bp-icon-prev::before {
  font-family: bpicons;
  content: "\e004";
}

.bp-icon-prev::after {
  content: "\e004";
}



header a::hover, {
  content:

}







/*body*/

.cbp-mc-form {

  display: block;
  position: relative;
  top: 30px;
  border: 3px solid yellow;
  text-align: center;
  width: auto;
  margin-top: 3em;
}


.cbp-mc-column {

  border: 1px solid orange;
  display: inline-block;
  vertical-align: middle;
  width: 31%;
  margin: 0;
}

input {
  color: #FFF;
  font-size: 1.4em;
  border: 3px solid #FFF;
  padding: 2%;
  display: block;
  margin:auto;
  width: 85%;
  background-color: #47a3da;
}

input:-moz-placeholder {  /* trying to change placeholder color*/
  color: #176998;
}

textarea {
  color: #FFF;
  font-size: 1.4em;
  border: 3px solid #FFF;
  padding: 2%;
  display: block;
  margin:auto;
  width: 85%;
  min-height: 200px;
  background-color: #47a3da;
}

select {
  color: #FFF;
  font-size: 1.4em;
  /*line-height: 3px;*/
  border: 3px solid #BBBBBB;
  padding: 2%;
  display: block;
  margin:auto;
  width: 85%;
  background-color: #47a3da;
}

label {
  border: 1px solid orange;
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: left;
  display:block;
  color: #FFF;
  padding: 20px 0 10px;
  width: 89%;
  margin: auto;
  background-color: #47a3da;
}


.cbp-mc-submit-wrap {
  clear: none;
  border: 1px solid orange;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.cbp-mc-submit:hover {
  background-color: #1D79AF;
}

.cbp-mc-submit {
  background-color: #176998;
  color: #FFF;
  text-transform: uppercase;
  padding: 15px 40px;
  border: none;
  width: auto;
}


li:nth-child(odd) .cbp_tmlabel {
     background-color: #3A95FF;
 }

.cbp_tmlabel::before {
	#triangle-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;
}
}
