*, *::before *::after{
  box-sizing: border-box;
}

body {
  .container {
    width: 100%;
    margin: 0 auto;
    header {
      display: block;
      width: 80%;
      height: auto;
      margin: 0 auto;
      &:after {
         content: "";
         display: table;
         clear: both;
      }
      h2{
        color: #47A3DA;
        margin: 0 auto;
        font-size: 100%;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        padding: 0 0 0.6em
      }
      h1 {
        float: left;
        color: #47A3DA;
        font-size: 2.125em;
        line-height: 1.3;
        font-weight: 400;
      }
      .nav-header {
        float: right;
          a{
            font-size: 1em;
            color: #47A3DA;
            &.hover {
              color: #0567A0;
            }
          }

        }
    } //header

    .all-menu {
      display: block;
      margin-top: 0px;
      width: 100%;
      height: auto;
      border: 2px solid #47A3DA;
      ul {
        width: 100%;
        li {
          width: auto;
          max-width: 20%;
          display: inline-block;
          color: #999999;
          border: 1px solid #BBBBBB;
          word-wrap: normal;
          img {
            width: 100%;
          }
        }
      }
    }
  }


}
